@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Regular.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html,
body {
  min-height: 100% !important;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.container {
  padding: 100px 215px;
  position: relative;
}

.block-header {
  font-family: Montserrat;
  letter-spacing: 0.035em;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  margin-bottom: 60px;
}

header {
  background: linear-gradient(180deg, #234d7e 0%, rgba(34, 98, 130, 0.962979) 29.17%, rgba(33, 145, 138, 0.88) 59.09%, rgba(49, 131, 126, 0.64) 100%);
}
header .header-nav {
  height: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-nav .navbar-wrapper {
  flex-grow: 3;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
}
header .header-nav .navbar-wrapper .nav-item {
  cursor: pointer;
}
header .header-nav .contact-wrapper {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-nav .contact-wrapper .contact-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
}
header .header-nav .contact-wrapper .contact-data .contact-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}
header .header-nav .contact-wrapper .contact-data .contact-block .contact-name {
  font-family: Roboto;
  font-size: 17px;
  color: #42f2e8;
}
header .header-nav .contact-wrapper .contact-data .contact-block .contact-phone {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}
header .header-nav .contact-wrapper .messangers-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}
header .header-offer .offer-header {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  color: #ffffff;
  font-style: normal;
  letter-spacing: 1.1px;
  margin-top: 80px;
}
header .header-offer .offer-descriptor {
  font-family: Montserrat;
  font-weight: 200;
  font-size: 24px;
  line-height: 33px;
  color: #ffff;
  margin-top: 40px;
}
header .header-offer .offer-cta {
  margin-top: 25px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  width: 600px;
  height: 146px;
  background: #e4a264;
  border-radius: 11px;
  text-align: center;
  padding: 26px 34px;
  text-align: left;
}
header .header-offer #main-img {
  position: absolute;
  bottom: 100px;
  right: 215px;
}

.slider-section .container {
  padding-top: 0;
  padding-bottom: 0;
}
.slider-section .splide {
  width: 100%;
}
.slider-section .splide .splide__slide {
  width: 80%;
}
.slider-section .splide .splide__slide .slide-content-wrapper {
  margin: 0 auto;
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: #000;
  width: 80%;
  position: relative;
}
.slider-section .splide .splide__slide .slide-content-wrapper img {
  height: 100%;
}
.slider-section .splide .splide__slide .slide-content-wrapper .slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 170px;
  background: rgba(92, 166, 161, 0.88);
  color: white;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
}

.range-section {
  background: linear-gradient(180deg, #79afab 0%, #95bfff 100%);
}
.range-section .range-wrapper {
  width: 70%;
  margin: 0 auto;
}
.range-section .range-wrapper .range-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 23px;
  column-gap: 230px;
}
.range-section .range-wrapper .range-list .range-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 14px;
}
.range-section .range-wrapper .range-list .range-list-item .range-item-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
}

.order-section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-section .container .order-cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}
.order-section .container .order-cards-wrapper .order-card {
  padding: 20px 8px;
  height: 320px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 11px;
  row-gap: 20px;
}
.order-section .container .order-cards-wrapper .order-card.card1 {
  background: linear-gradient(114.17deg, rgba(43, 186, 177, 0.17) 0%, rgba(83, 147, 182, 0.165937) 85.42%, rgba(205, 26, 198, 0.08) 100%);
}
.order-section .container .order-cards-wrapper .order-card.card2 {
  background: linear-gradient(78.61deg, rgba(162, 89, 164, 0.12) 8.39%, rgba(43, 186, 177, 0.21) 21.59%, rgba(83, 147, 182, 0.165937) 72.13%, rgba(154, 99, 152, 0.13) 95.81%);
}
.order-section .container .order-cards-wrapper .order-card.card3 {
  background: linear-gradient(114.17deg, rgba(43, 186, 177, 0.21) 0%, rgba(83, 147, 182, 0.165937) 90.1%, rgba(205, 26, 198, 0.08) 100%);
}
.order-section .container .order-cards-wrapper .order-card .order-card-header {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.035em;
  color: #000000;
}
.order-section .container .order-cards-wrapper .order-card .order-card-content {
  margin: 0 auto;
  height: 100%;
}
.order-section .container .order-cards-wrapper .order-card .order-card-content.card1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 100px;
  padding-left: 40px;
}
.order-section .container .order-cards-wrapper .order-card .order-card-content.card1 .contact-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.order-section .container .order-cards-wrapper .order-card .order-card-content.card1 .contact-block .contact-name {
  font-family: Roboto;
  font-size: 17px;
  color: #00c2b7;
}
.order-section .container .order-cards-wrapper .order-card .order-card-content.card1 .contact-block .contact-phone {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.order-section .container .order-cards-wrapper .order-card .order-card-content.card1 img {
  margin: auto;
}
.order-section .container .order-cards-wrapper .order-card .order-card-content.card2 {
  width: 100%;
  position: relative;
}
.order-section .container .order-cards-wrapper .order-card .order-card-content.card2 #tasks-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scaleY(2);
  transform: translate(-50%, -50%);
}
.order-section .container .order-cards-wrapper .order-card .order-card-content.card2 #delivery-icon {
  position: absolute;
  left: 13%;
  top: 24%;
}
.order-section .container .order-cards-wrapper .order-card .order-card-content.card2 #questions-icon {
  position: absolute;
  right: 17%;
  top: 27%;
}
.order-section .container .order-cards-wrapper .order-card .order-card-content.card3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.order-section .container .order-warning {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.035em;
  color: #956b00;
  padding-left: 3%;
}

.location-section {
  background: linear-gradient(180deg, #95bfff 0%, rgba(32, 181, 145, 0.55) 100%);
}
.location-section .map-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.location-section .map-wrapper iframe {
  border-radius: 12px;
}

.about-section .about-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.about-section .about-content-wrapper .about-text {
  width: 70%;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 32px;
  line-height: 43px;
  letter-spacing: 0.035em;
  color: #000000;
}
.about-section .about-content-wrapper .about-text p {
  margin-bottom: 10px;
}
.about-section .about-content-wrapper #about-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

footer {
  background: linear-gradient(180deg, #84d6c2 0%, #4c9281 100%);
}
footer .footer-label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.035em;
  color: #ffffff;
}
footer .footer-label a {
  text-decoration: none;
  color: #ffffff;
}
footer .container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
footer .container .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-content .footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 12px;
}
footer .container .footer-content .footer-column.column3 {
  text-align: right;
}
footer .container .footer-content #footer-icon {
  margin-bottom: 17px;
}
footer .container .footer-copy {
  text-align: center;
}

header, section {
  border-bottom: 4px solid #000;
}

/*# sourceMappingURL=style.css.map */
